TOKEN = your-bot-login-token
MONGODB_LOGIN = your-mongodb-login-string # mongodb+srv://

YT_SEARCH_API = google-dev-api-key
SERPAPI_KEY = serpapi-api-key
OPENAI_API_KEY = openai-api-key # for /question
TMDB_API_KEY = tmdb-api-key # for /movie
IMDB_CLIENT = imdb-client-string  # for
IMDB_SECRET = imdb-secret-string  # /game

BOT_ID = your-discord-bot-id
GUILD_ID = your-guild-id # "guild" means discord server btw
BOT_ADMIN_ID = your-bots-admin-id # they'll receive /feedback when users use that
MOD_LOGS_CHANNEL = mod-logs-channel # mentions when someone gets banned with /nsfw or /roulette
EVENT_ROLE_ID = event-role-id # that will be added or removed with /event
SARGE_VIPS = all-the-coolest,users-you-love # they'll have access to /question in DMs

MAW_ROLE_ID = timeout-role-id # make a role where they can't speak anywhere, except for a "maw" channel that only this role sees
ROULETTE_ACCESS_ROLE = 123465487654 # only users with this role can play the roulette
ROULETTE_BAN_PROTECTION_ROLE_ID = cant-be-banned-by-roulette # any user that DOES NOT have this role can get banned randomly
NSFW_PROTECTED_ROLE_ID = nsfw-ban-protected-guys # any user having this role won't get banned by using /nsfw
QUESTION_CLEARANCE_ROLE_ID = wallet-drainers-id # members with this role can use /question

EXCLUDED_KNOWLEDGE_USERS = nickname